<h2>About</h2>
<p> 
I’m a second-year PhD student at Trinity College Dublin, focusing on the genetics and epigenetics of cancer. 
I’m half wet-lab, half dry. I spend half my days at the bench, and half at the computer. 
Prior to this, I worked in a next-generation sequencing facility. 
I hold a BSc in Neuroscience from University College Cork and an MPhil in Computational Biology from the University of Cambridge. 
If you’d like to know more about my research you can check it out here(link). </p>

<p>Outside of my research, I have a deep interest in journalism and travel, so I founded Trinity College Dublin’s International Affairs and Travel magazine(link). I’m also passionate about STEM outreach; I write about science for my university's newspaper(link), and I’m a volunteer mentor at a local CoderDojo(link).</p>
<hr />

<ul class="fa-ul main-list">
    <li class="main-list-item">
    <span class="fa fa-linkedin-square fa-lg main-list-item-icon"></span>
    <a href="http://linked.in/cobrien">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/cobri">GitHub</a>
  </li>

</ul>
