
I'm a second-year PhD student at X, focusing on the genetics and epigenetics of cancer. I spend half my days at the bench, and half at the computer. Prior to this, I worked in a next-generation sequencing facility. I hold a BSc in Neuroscience from Y and an MPhil in Computational Biology from the University of Cambridge. If you'd like to know more about my research you can check it out here.
<br>
<br>
Outside of my research, I have a deep interest in journalism and travel, so I founded the International Affairs and Travel magazine. I'm also passionate about STEM outreach and I write about science for my university newspaper.
<br>
<br>

<a href="http://www.linkedin.com/in/dummy-account-a7201a123"> <i class="fa fa-linkedin-square" style="font-size:60px;color:red;"></i> </a>

<a href="http://github.com/cobri"> <i class="fa fa-github" style="font-size:60px;color:red;"></i></a>

<i class="fa  fa-hand-peace-o" style="font-size:60px;"></i>

